<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="login.css">
        <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    </head>
    <body>
        <div class="loginwrapper">
            <form id="loginForm">
                <h1>Login</h1> 
                <div class="input-box" onclick="formelemPressed('username')" id="usernameholder">
                    <i class='bx bxs-user'></i>
                    <input type="text" placeholder="Username" id="username" required>
                </div>
                <div class="input-box" onclick="formelemPressed('password')" id="passwordholder">  
                    <i class='bx bxs-lock-alt' ></i>                
                    <input type="password" placeholder="Password" id="password" required>
                </div>
                <button type="submit" class="login">Login</button>
            </form>
        </div>
        <script src="script.js"></script>
    </body>
</html>