<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="home.css">
    </head>
    <body>
        <div class="menu-container nav-menu">
            <a href="test" class="home">Home</a>
            <a href="../login/login.html" class="nav-menu">Sign In</a>
            <a href="test.com" class="nav-menu">Personal</a>
            <a href="test.com" class="nav-menu">Business</a>
            <a href="test.com" class="nav-menu">Rewards</a>
            <a href="test.com" class="nav-menu">Settings</a>
        </div>
    
        <hr class="top-divider">

        <img src="logo.png" alt="Bank Logo">

    </body>
</html>