body {
    margin: 0;
    padding: 0;
}


:root {
    --transborder: 5px;

    /*
    Transactions is split up into multiple divs, where each div holds a different value(date, image, amount, etc.).
    The margins and widths of those divs are listed below:
    */

    /* Regular Transactions Variables */

    --arrow-margin-left: 2%;
    --arrow-width: 2%;

    --date-width: 8%;

    --icon-margin-left: 2%;
    --icon-width: 3%;

    --desc-margin-left: 5%;
    --desc-width: 29%;

    /* Saving Transactions Variables */

    --saving-categ-margin-left: 4%;
    --saving-categ-width: 20%;

    --saving-amount-width: 10%;
    --saving-amount-margin-right: 2%;

    --saving-balance-margin-left: 1%;
    --saving-balance-width: 12%;
    --saving-balance-margin-right: 2%;

    /* Checking Transactions Variables */

    --checking-categ-margin-left: 4%;
    --checking-categ-width: 20%;

    --checking-amount-width: 10%;
    --checking-amount-margin-right: 2%;

    --checking-balance-margin-left: 1%;
    --checking-balance-width: 12%;
    --checking-balance-margin-right: 2%;

    /* Credit Transactions Variables */

    --credit-categ-margin-left: 4%;
    --credit-categ-width: 20%;

    --credit-card-width: 13%;
    --credit-card-margin-left: 1%;

    --credit-amount-width: 10%;
    --credit-amount-margin-right: 1.5%;


}


.yearGap {
    font-size: 20px;
    width: 80%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 15px;
}
header {
    width: 100%;
    height: 150px;
    color: white;
    text-align: center;
    display: flex;
}
.leftarrowholder {
    width: 10%;
    display: flex;
    align-items: start;
    padding-top: 2%;
    padding-left: 3%;
}
.heading {
    width: 30%;
    margin-left: 20%;
    text-align: center;
}
.fa-arrow-left {
    color: white;
    font-size: 50px;
}
.fa-arrow-left:hover {
    color: lightgrey;
    cursor: pointer;
}
header h1 {
    padding-top: 2px;
}
.accountBalance {
    font-size: 40px;
    margin-top: 10px;
    margin-bottom: 0px;
}
.currency {
    font-size: 25px;
    vertical-align: 12px;
    margin-right: 1px;
}
.cents {
    font-size: 20px;
    vertical-align: super;
}

.transaction {
    width: 80%;
    height: 100px;
    background-color: lightgrey;
    border-radius: var(--transborder);
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: auto;
    margin-bottom: 0;
    border: 1px solid rgb(183, 182, 182);
}
.arrowholder {
    width: var(--arrow-margin-lef);
    margin-left: var(--arrow-width);
}
.arrowwiden {
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.iconholder {
    width: var(--icon-width);
    margin-left: var(--icon-margin-left);
}
.icon {
    width: 42px;
}
.dateholder {
    width: var(--date-width);
    display: flex;
    flex-direction: column;
    column-gap: 0px;
    align-items: center;
    justify-content: center;
}
.month {
    margin-bottom: 3px;
}
.day {
    margin-top: 3px;
    font-size: 20px;
}
.descholder {
    text-align: left;
    font-size: 19px;
    width: var(--desc-width);
    margin-left: var(--desc-margin-left);
}
.categoryholder {
    text-align: left;
    font-size: 18px;
}
.cardholder {
    text-align: left;
    font-size: 18px;
}
.amountholder {
    text-align: right;
    font-size: 18px;
}
.balanceholder {
    text-align: right;
    font-size: 18px;
}

.savingsTransaction .categoryholder {
    width: var(--saving-categ-width);
    margin-left: var(--saving-categ-margin-left);
}

.creditTransaction .categoryholder {
    width: var(--credit-categ-width);
    margin-left: var(--credit-categ-margin-left);
}

.checkingTransaction .categoryholder {
    width: var(--checking-categ-width);
    margin-left: var(--checking-categ-margin-left);
}

.creditTransaction .cardholder {
    width: var(--credit-card-width);
    margin-left: var(--credit-card-margin-left);
}

.savingsTransaction .amountholder {
    width: var(--saving-amount-width);
    margin-right: var(--saving-amount-margin-right);
}
.checkingTransaction .amountholder {
     width: var(--checking-amount-width);
    margin-right: var(--checking-amount-margin-right);
}
.creditTransaction .amountholder {
    width: var(--credit-amount-width);
    margin-right: var(--credit-amount-margin-right);
}

.savingsTransaction .balanceholder {
    width: var(--saving-balance-width);
    margin-left: var(--saving-balance-margin-left);
    margin-right: var(--saving-balance-margin-right);
}
.checkingTransaction .balanceholder {
    width: var(--checking-balance-width);
    margin-left: var(--checking-balance-margin-left);
    margin-right: var(--checking-balance-margin-right);
}

.transactioninfo {
    width: 80%;
    display: flex;
    flex-direction: row;
    color: rgb(32, 115, 171);
    margin: auto;
    font-size: 13px;
}
.creditTitle .dateinfo {
    margin-left: 6.5%;
}
.creditTitle .descinfo {
    margin-left: 12.5%;
}
.creditTitle .categoryinfo {
    margin-left: 24.5%;
}
.creditTitle .cardinfo {
    margin-left: 14%;
}
.creditTitle .amountinfo {
    margin-left: 13%;
}

.savingsTitle .dateinfo {
    margin-left: 6.5%;
}
.savingsTitle .descinfo {
    margin-left: 12.5%;
}
.savingsTitle .categoryinfo {
    margin-left: 24.5%;
}
.savingsTitle .amountinfo {
    margin-left: 16.5%;
}
.savingsTitle .balanceinfo {
    margin-left: 7.5%;
}

.checkingTitle .dateinfo {
    margin-left: 6.5%;
}
.checkingTitle .descinfo {
    margin-left: 12.5%;
}
.checkingTitle .categoryinfo {
    margin-left: 24.5%;
}
.checkingTitle .amountinfo {
   margin-left: 16.5%;
}
.checkingTitle .balanceinfo {
    margin-left: 7.5%;
}

.arrowwiden:hover {
    cursor: pointer;
}
.hiddeninfo {
    width: 80%;
    height: 60px;
    background-color: rgb(222, 219, 219);
    margin: auto;
    display: none;
    margin-top: 0px;
    font-size: 20px;
    flex-direction: row;
    border: 1px solid rgb(183, 182, 182);
    border-top: none;
}
.hiddendate {
    margin-left: 10px;
}
.bottom {
    margin-bottom: 25px;
}