<html>
<head>
    <script src="https://kit.fontawesome.com/040299a7da.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="transactions.css">
</head>
<body>
    <script src="https://code.jquery.com/jquery-2.1.0.js"></script>
    <header class="header" id="heading">
        <div class="leftarrowholder">
            <a href="../accounts/accounts.html"><i class="fa-solid fa-arrow-left"></i></a>
        </div>
        <div class="heading">
            <h1 id="headerName">Name</h1>
            <p class="balance" id="balance"></p>
        </div>
    </header>
    
    <div class="transactionholder" id="transactionholder">
        
    </div>
    <div class="bottom"></div>
    <script src="transactions.js"></script>
    
</body>
</html>