<html>
<head>
    <script src="https://kit.fontawesome.com/040299a7da.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="transactions.css">
</head>
<body>
    <script src="https://code.jquery.com/jquery-2.1.0.js"></script>
    <header class="header" id="heading">
        <h1 id="headerName">Name</h1>
        <p class="balance" id="balance"></p>
    </header>
    <div class="transactioninfo">
        <p class="dateinfo">DATE</p>
        <p class="descinfo">DESCRIPTION</p>
        <p class="categoryinfo">CATEGORY</p>
        <p class="cardinfo">CARD</p>
        <p class="amountinfo">AMOUNT</p>
    </div>
    <div class="transactionholder" id="transactionholder">
        
    </div>
    <script src="transactions.js"></script>
    
</body>
</html>