<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="accounts.css">
    </head>

   

    <body>
        <div class="nav-bar">
            <a class="home" href="home.html">Home</a>
            <a>Test</a>
            <a>Test1</a>
            <a>Test2</a>
            <a>Test3</a>
        </div>
        <div id="grid-wrapper" class="div-container">
        
        </div>
    </body>
    <script src="accounts.js"></script>
</html>