<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title></title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://kit.fontawesome.com/040299a7da.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="accounts.css">
    </head>

    <body>
        <div class="menu-container nav-menu">
            <div class="logo-container">
                <img src="../Images/logo.png" alt="Bank Logo">
            </div>
            <nav class="nav-links">
                <a href="" class="home">Home</a>
                <a href="" class="nav-menu">Profile</a>
                <a href="" class="nav-menu">Alerts</a>
                <a href="../home/home.html" class="nav-menu">Sign Out</a>
            </nav>
        </div>

        <div class="accountholder" id="accountholder">
            
        </div>

        <!-- The Modal -->
        <div id="myModal" class="modal">

            <!-- Modal content -->
            <div class="modal-content">
                <span class="close">&times;</span>
                <div class="center">
                    <img src="../Images/money2.png" class="modalMoney">
                    <p class="payment">Select Payment Amount</p>
                    <p class="custom-text">Custom amount</p>
                    <div class="customamountholder">
                        <p class="currencySymbol">$</p>
                        <input type="number" class="custom-amount" placeholder="0.00" min="0" step="0.01" onclick="customAmount()">
                    </div>
                    <button class="moneybox" onclick="moneybox(0)">
                        <div class="moneytitleholder">
                            <p class="moneytitle" id="statement">$100.00</p>
                        </div>
                        <div class="balancetitleholder">
                            <p class="balancetitle">Statement balance</p>
                        </div>
                    </button>
                    <button class="moneybox" onclick="moneybox(1)">
                        <div class="moneytitleholder">
                            <p class="moneytitle" id="current">$100.00</p>
                        </div>
                        <div class="balancetitleholder">
                            <p class="balancetitle">Current balance</p>
                        </div>
                    </button>
                    <button class="continue" onclick="payCredit()">Pay</button>   
                </div>
            </div>
        </div>
        <button class="createaccount" onclick="openModal(2)">Open Account</button>
        <div id="myModal2" class="modal">

            <!-- Modal content -->
            <div class="modal-content2">
                <span class="close">&times;</span>
                <div class="makeaccountholder">
                    <button class="accountbox" onclick="addBlankAccount('Savings')">Savings<i class="fa-solid fa-money-bill"></i></button>
                    <button class="accountbox" onclick="addBlankAccount('Credit Card')">Credit<i class="fa-solid fa-credit-card"></i></i></i></button>
                    <button class="accountbox" onclick="addBlankAccount('Checking')">Checking<i class="fa-solid fa-money-check"></i></i></button>
                </div>
                
            </div>
        </div>
    </body>
    <script src="accounts.js"></script>
</html>